<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/common :: common_head"></div>
    <link th:href="@{/css/style_mypage.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>잔액 조회,충전</title>
</head>
<body>
<!-- 메뉴바 -->
<div th:replace="fragments/common :: navbar"></div>

<div id="top_bar">
    나의 전용계좌 입금
</div>

<div id="manu_box">
    <div class="c_menu">
        <a href="/mypage/invest">나의 투자상품 보기</a>
    </div>
    <div class="c_menu">
        <a href="/mypage/loan">나의 대출상품 보기</a>
    </div>
    <div class="c_menu">
        <a href="/mypage/balance">나의 전용계좌 입금하기</a>
    </div>
</div>
<div class="balance">
    <text>현재 잔액 :</text>
    <text th:text="${#numbers.formatInteger(userInfo.balance,0,'COMMA')}"></text>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <form th:action="@{/mypage/fill-balance}" method="POST">
        <input type="number" style="border-radius: 8px;" name="balance">
        <button type="submit" class="btn btn-primary btn-sm" style="font-family: paybooc-Medium">충전하기</button>
    </form>
</div>

</body>
</html>