<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="ko">
<head>
    <div th:replace="fragments/common :: common_head"></div>
    <link th:href="@{/css/style_invest.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>투자목록</title>
</head>
<body>
<!-- 메뉴바 -->
<div th:replace="fragments/common :: navbar"></div>

<!--마이페이지 좌측 메뉴 바-->


    <ul id="left_nav">
        <li><input type="button" class="btn btn-link" value="투자리스트" onClick="location.href='/mypage/invest'"></li>
        <li><input type="button" class="btn btn-link" value="대출리스트" onClick="location.href='/mypage/loan'"></li>
        <li><input type="button" class="btn btn-link" value="잔액조회/충전하기" onClick="location.href='/mypage/balance'"></li>
    </ul>

<div id="all">
    <div id="mainall">
        <tr th:each="invest : ${invests}">
            <div id="listbox1">
                <br>
                <div id="seq">
                    <!--<a style="color: blue; font-weight: bold;">상품코드&nbsp; </a>
                    #<text th:text="${loan.seq}"></text>
                    <a th:href="${'/invest-details/' + loan.seq}">바로가기</a>-->
                </div>
                <div id="listname1_1">
                    <text th:text="${invest.reasonForLoan}"></text>
                </div>
                <div id="investAt">
                    <a style="color: blue; font-weight: bold;">상환 날짜&nbsp;</a>
                    <text th:text="${invest.repayAt}"></text>
                </div>
            </div><br>
        </tr><br>
    </div>
</div>




</body>
</html>