<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="fragments/common :: common_head"></div>
    <link th:href="@{/css/style_mypage.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>대출목록</title>
</head>
<body>
<div th:replace="fragments/common :: navbar"></div>
<!--마이페이지 좌측 메뉴 바-->

<div id=left_bar>
    <img id="person_image" src="img/person_image.png" width="165" height="165">

    <div id="name">
        <span sec:authentication="principal.name"></span>
    </div>
    <br>
    <ul id="left_nav">
        <li><input type="button" class="btn btn-link" value="투자리스트" onClick="location.href='/mypage/invest'"></li>
        <li><input type="button" class="btn btn-link" value="대출리스트" onClick="location.href='/mypage/loan'"></li>
        <li><input type="button" class="btn btn-link" value="잔액조회/충전하기" onClick="location.href='/mypage/balance'"></li>
    </ul>

</div>

<!-- 메뉴바 -->
<div th:replace="fragments/common :: navbar"></div>

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>대출 번호</th>
        <th>사업자번호</th>
        <th>사업자명</th>
        <th>회사명</th>
        <th>회사지급일</th>
        <th>채널주소</th>
        <th>채널명</th>
        <th>카테고리</th>
        <th>대출사유</th>
        <th>대출금액</th>
        <th>대출날짜</th>
        <th>상환날짜</th>
        <th>모인금액</th>
        <th>상환금액</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="loan : ${loans}">
        <td th:text="${loan.seq}"></td>
        <td th:text="${loan.permit}"></td>

        <td th:text="${loan.businessNumber}"></td>
        <td th:text="${loan.businessName}"></td>
        <td th:text="${loan.companyName}"></td>
        <td th:text="${loan.companyPayday}"></td>
        <td th:text="${loan.channelAddress}"></td>
        <td th:text="${loan.channelName}"></td>
        <td th:text="${loan.category}"></td>

        <td th:text="${loan.reasonForLoan}"></td>

        <td th:text="${loan.loanAmount}"></td>
        <td th:text="${loan.loanAt}"></td>
        <td th:text="${loan.repayAt}"></td>

        <td th:text="${loan.collectedAmount}"></td>

        <td th:text="${loan.repayment}"></td>

        <td>
            <form th:action="@{/mypage/repay/{id}(id = ${loan.seq})}" method="POST">
                <input type="number" name="repayment">
                <button type="submit">상환하기</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>