<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<html lang="ko">
<head>
    <div th:replace="fragments/common :: common_head"></div>
    <link th:href="@{/css/style_invest_details.css}" rel="stylesheet"/>
    <title>투자</title>
</head>
<body>
<!-- 메뉴바 -->
<div th:replace="fragments/common :: navbar"></div>


<!--크리에이터 설명 좌측 메뉴 바-->

<div id=left_bar>
   <br><br>
    <div id="name">
        <h th:text="${loan.channelName}"></h>
    </div>

    <img id="grade" th:src="@{/img/goldmark.png}" width="70" height="70">

    <div id="createrinfo">
        <a style="color: blue; font-weight: bold;">구독자 수&nbsp; </a><text th:text="${crawled.subscriber}"></text><br>
        <a style="color: blue; font-weight: bold;">평균 조회 수&nbsp; </a><text th:text="${crawled.avgView}"></text><br>
        <a style="color: blue; font-weight: bold;">지역 랭킹&nbsp; </a><text th:text="${crawled.rank}"></text><br>
    </div>

    <div id="detail">
        <div id="positivenum">
            긍정적 언급수 <text th:text="${crawled.positiveNum}"></text><br>
            부정적 언급수 <text th:text="${crawled.negativeNum}"></text><br>
            중립적 언급수 <text th:text="${crawled.neutralNum}"></text>
        </div>
        <div id="number">
            총 조회수 <text th:text="${crawled.view}"></text><br>
            동영상수 <text th:text="${crawled.video}"></text><br>
            라이브 수입 <text th:text="${crawled.liveIncome}"></text><br>
            녹스 점수 <text th:text="${crawled.noxScore}"></text>
        </div>
    </div>
</div>
<div id="top_bar">
    <div id="early_remarks">
        한 편의 영화같은 3개월, 제주살이 브이로그
    </div>
    <br><br>

    <div id="current_status">
        크리에이터 조서아님이 신청하신 여행 콘텐츠 제작 투자상품이며 투자가능 기간이 30일 남았습니다.
    </div>

    <!--대출금액과 상환금액 표시-->

    <div id="creatersum_box">
        <div id="lendingrate">
            <a style = "font-size: 15px;">예상 수익률&nbsp;&nbsp;</a>3.9% - 4.1%
        </div>

        <div id="producttag">
            #콘텐츠투자상품&nbsp; #여행유튜버&nbsp; #국내여행&nbsp; #세달살기&nbsp; #힐링콘텐츠&nbsp; #영상콘텐츠제작지원
        </div>

        <div id="communityAll" style="padding-top:20px;">
            <img id="star" src="img/star.png" width="120" style="margin-top:-22px;">

            <div id="community">
                상품에 참여한 투자자 커뮤니티 보기
            </div>
        </div>

    </div>

    <!-- 투자하기 -->
    <div id="invest_box">
        <div id="investMoney">
            <form th:action="@{/invest-details/{id}(id=${approvedLoan.seq})}" method="POST">
                투자 금액 <br> <input type="number" name="invAmount" placeholder="투자하실 금액을 입력해주세요!" style="float:left;"> <p style="float:left; margin-left:10px; font-family: 'NanumSquare'; color:#404041; padding:2px;">원</p>

                <div id=btn0>
                    <button id="btn1" type="submit">투자하기</button> <br>

                    <span><u>투자약관안내</u></span>
                </div>

            </form>
        </div>
    </div>
</div>



</body>
</html>