<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h th:text="${loan.userId}"></h>

<form th:action="@{/invest-details/{id}(id=${loan.seq})}" method="POST">
    투자 금액 : <input type="number" name="invAmount"> <br>
    <button type="submit">투자하기</button>
</form>

<p th:text="${crawled.positiveNum}">:긍정적 언급수</p>
<p th:text="${crawled.negativeNum}">:부정적 언급수</p>
<p th:text="${crawled.neutralNum}">:중립적 언급수</p>
</body>
</html>