<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common_head">
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/Artboard Copy 12@3x.png}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:fragment="navbar">
    <div id="header">
        <div id="nav">
            <a href="/">
                <img id="logo" th:src="@{/img/Artboard Copy 10@3x.png}" height="35">
            </a>
            <ul id="menu">
                <li><a href="/loan">대출하기</a></li>
                <li><a href="/invest">투자하기</a></li>
                <li><a sec:authorize="isAuthenticated()" href="/mypage">마이페이지</a></li>
                <li><a sec:authorize="isAnonymous()" href="/signup">회원가입</a></li>
                <li><a sec:authorize="isAnonymous()" href="/login">로그인</a></li>
                <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin/loan-list">관리자</a></li>
                <li><a sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')" href="/logout">로그아웃</a></li>
            </ul>
        </div>
    </div>
    <hr class="one">
</div>


</body>
</html>
