/* 로그인 */
@import url("//fonts.googleapis.com/earlyaccess/nanumgothic.css" );
#all_login {
    width: 100%;
    background-color: #f2f2f25c;
}
#main_content {
    width: 360px;
    height: 320px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0px 0px 5px #d8d8d8;
    border-radius: 14px;
}

h1 {
    margin-top: 0;
    margin-bottom: 32px;
    font-family: 'NanumSquare';
    font-size: 20px;
    font-weight:normal;
    padding-top: 48px;
    padding-left: 54px;
    padding-right: 54px;
    color: #828282;
}



#email input, #pw input {
    width: 220px;
    margin-bottom: 10px;
    font-family: 'NanumSquare';
    font-size: 12px;
    font-weight: lighter;
    padding: 10px 12px 10px 12px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    color: black;
}


input[type=password]{
    font-family:"Nanum Gothic", sans-serif !important;
}
input[type=password]::placeholder{
    font-family: "NanumSquare";
}

#btn_login {
    width:247px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'NanumSquare';
    font-size: 12px;
    font-weight: bold;
    padding: 10px 12px 10px 12px;
    border: none;
    border-radius: 5px;
    background-color: rgb(45, 107, 241);
    color: white;
}

#btn_login:hover {
    background-color:blue;
}

#main_content a {
    font-family: 'NanumSquare';
    font-size: 10px;
    font-weight: lighter;
    color: #404041;
    padding-bottom: 48px;
}