@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
.nanumsquare {
    font-family: 'NanumSquare', sans-serif !important;
}

@font-face {
    font-family: 'paybooc-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paybooc-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paybooc-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* 네비바 */

body {
    margin: 0px;
}

#header {
    width: 1440px;
    height: 72px;
    background-color: white;    
}

#logo {
    float: left;
    margin-top: 20px;
    margin-left:20px;
}

#nav {
    width: 1130px;
    height: 72px;
    margin : 0 125px 0 125px;
}

#menu {    
    list-style: none;
    float: right;
    line-height: 72px;
    margin: 0px;
    padding-left: 0px;
}

#menu li{   
    float:left;
    position: relative;
    padding-right: 15px;
    font-size: 14px;
    font-family: 'NanumSquare';
    font-weight: normal;
    
    
}

#menu a{
    list-style: none;
    float: left;
    display: block;
    text-decoration: none;
    color: #404041;
    
}

#menu a:hover{
    color: blue;
    font-weight: bold;
}

.one {
    color: #d8d8d8;
    opacity: 70%;
    margin: 0px;
    width: 1440px;
}


/* 로그인 */


#all {
    width: 100%;
    
    background-color: #f2f2f25c;
}
#main_content {
    width: 360px;
    height: 320px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -140px;
    text-align: center;
    box-shadow: 0px 0px 5px #d8d8d8;
    border-radius: 14px;
}

h1 {
    margin-top: 0;
    margin-bottom: 32px;
    font-family: 'NanumSquare';
    font-size: 20px;
    font-weight:normal;
    padding-top: 48px;
    padding-left: 54px;
    padding-right: 54px;
    color: #828282;
}



#email input, #pw input {
    width: 220px;
    margin-bottom: 10px;
    font-family: 'NanumSquare';
    font-size: 12px;
    font-weight: lighter;
    padding: 10px 12px 10px 12px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}

#btn {
    width:247px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'NanumSquare';
    font-size: 12px;
    font-weight: bold;
    padding: 10px 12px 10px 12px;
    border: none;
    border-radius: 5px;
    background-color: rgb(45, 107, 241);
    color: white;
}

#btn:hover {
    background-color:blue;
}

#main_content a {
    font-family: 'NanumSquare';
    font-size: 10px;
    font-weight: lighter;
    color: #404041;
    padding-bottom: 48px;
}
